# Author:  DINDIN Meryll
# Date:    05 August 2019
# Project: DreemHeadband

# Virtualenv Relative
bin/
etc/
lib/
share/
include/
xgboost/

# Personal Use
logs/
stager/.ipynb_checkpoints/
stimuler/.ipynb_checkpoints/

# Heavy Data
data/
stager/results/
stimuler/results/
stager/models/
stimuler/models/

# Cythonized
stager/__pycache__/
stimuler/__pycache__/
