# Author:  Meryll Dindin
# Date:    02 March 2020
# Project: DreemEEG

# Virtualenv
bin/
etc/
lib/
share/
include/
xgboost/

# Development
**/*.ipynb
**/__pycache__/
**/.ipynb_checkpoints/

# Data
**/data/
**/models/
**/experiments/
