# Author:  DINDIN Meryll
# Date:    05 August 2019
# Project: DreemHeadband

# Personal Use
stager/.ipynb_checkpoints/
stimuler/.ipynb_checkpoints/

# Heavy data
data/
stager/results/
stimuler/results/
stager/models/
stimuler/models/

# Cythonized
stager/__pycache__/
stimuler/__pycache__/
