PyWavelets==1.1.1
hyperopt==0.2.1
joblib==0.14.1
six==1.11.0
tensorflow==2.5.0
lightgbm==2.3.1
scipy==1.4.1
pandas==0.25.2
h5py==2.10.0
seaborn==0.10.0
nolds==0.5.2
statsmodels==0.11.1
Keras==2.3.1
numpy==1.16.4
matplotlib==3.0.2
xgboost==1.0.1
arch==4.13
GPUtil==1.4.0
imblearn==0.0
neurokit==0.2.0
package==0.1.1
scikit_learn==0.22.2.post1
